<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <title>Create your ERC20 token</title>
        <!-- color scheme https://coolors.co/0d0630-18314f-384e77-8bbeb2-e6f9af -->
    </head>
    <body style="background-color: #0D0630;">
        <div class="w-100 h-100" id="app">
            <div style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">
                <div class="card mb-3 w-75 h-75" style="max-width: 540px; background-color: #384E77;">
                    <div class="row g-0">
                        <div class="col">
                            <img src="./img/Rocket-transparent.png" class="img-fluid rounded-start" alt="Rocket Logo">
                        </div>
                        <div class="col-md-auto text-black">
                            <div class="d-flex align-items-start">
                                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="nav-link active" id="v-pills-meta-tab" data-bs-toggle="pill" data-bs-target="#v-pills-meta" type="button" role="tab" aria-controls="v-pills-meta" aria-selected="true">Metadata</button>
                                    <button class="nav-link" id="v-pills-redist-tab" data-bs-toggle="pill" data-bs-target="#v-pills-redist" type="button" role="tab" aria-controls="v-pills-redist" aria-selected="false">Redistribution</button>
                                    <button class="nav-link" id="v-pills-supply-tab" data-bs-toggle="pill" data-bs-target="#v-pills-supply" type="button" role="tab" aria-controls="v-pills-supply" aria-selected="false">Initial Supply</button>
                                </div>
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-meta" role="tabpanel" aria-labelledby="v-pills-meta-tab">
                                        <div class="input-group">
                                            <input type="text" aria-label="Name" class="form-control" placeholder="Name (e.g. My Epic Token)" v-model="token.meta.name">
                                            <input type="text" aria-label="Symbol" class="form-control" placeholder="Symbol (e.g MYTOKEN)" v-model="token.meta.symbol">
                                            <input type="text" aria-label="Decimals" class="form-control" readonly value="18">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-redist" role="tabpanel" aria-labelledby="v-pills-redist-tab">
                                        <label for="feeRange" class="form-label">Fee: {{ token.redist.fee }}%</label>
                                        <input type="range" class="form-range" min="0" max="15" step="0.5" id="feeRange" v-model="token.redist.fee">
                                        <hr/>
                                        <label for="burnRange" class="form-label">Burn: {{ 100 - token.redist.addresses.reduce((previousValue, item) => previousValue + item.amt) - token.redist.holder }}%</label>
                                        <input type="range" class="form-range" min="0" max="100" step="0.1" id="burnRange" v-bind:value="100 - token.redist.addresses.reduce((previousValue, item) => previousValue + item.amt) - holder" readonly>
                                        <label for="holdRange" class="form-label">Holder Redistribution: {{ token.redist.holder }}%</label>
                                        <input type="range" class="form-range" min="0" max="100" step="0.1" id="holdRange" v-model="token.redist.holder" readonly>
                                        <div v-for="(item, index) in token.redist.addresses">
                                            <div class="input-group">
                                                <input type="text" class="form-control" v-bind:value="token.redist.addresses[index].addr" readonly>
                                                <input type="text" class="form-control" v-bind:value="token.redist.addresses[index].amt" readonly>
                                                <button class="btn btn-outline-danger" v-on:click="token.redist.addresses.splice(index, 1)">Remove</button>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" v-model="token.redist.temp.addr" placeholder="Ethereum Address (0x000...)">
                                            <input type="number" class="form-control" v-model="token.redist.temp.amt" placeholder="Redistribution Percent (e.g. 5)">
                                            <span class="input-group-text">%</span>
                                            <button class="btn btn-outline-primary" v-on:click="token.redist.addresses.push({ addr: token.redist.temp.addr, amt: token.redist.temp.amt })">Add</button>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="supportDev">
                                            <label class="form-check-label" for="supportDev">
                                                Support the developer with 0.5% of the amount that would usually be burnt
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-supply" role="tabpanel" aria-labelledby="v-pills-supply-tab">
                                        <div v-for="(item, index) in token.supply">
                                            <div class="input-group">
                                                <input type="text" class="form-control" v-bind:value="token.supply[index].addr" readonly>
                                                <input type="text" class="form-control" v-bind:value="token.supply[index].amt" readonly>
                                                <button class="btn btn-outline-danger" v-on:click="token.supply.splice(index, 1)">Remove</button>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" v-model="token.tempSupply.addr" placeholder="Ethereum Address (0x000...)">
                                            <input type="number" class="form-control" v-bind="token.tempSupply.amt" placeholder="Initial Supply (e.g. 100000)">
                                            <span class="input-group-text">{{ token.meta.symbol }}</span>
                                            <button class="btn btn-outline-primary" v-on:click="token.redist.addresses.push({ addr: token.tempSupply.addr, amt: token.tempSupply.amt })">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script>
            window.onerror = (message, source, lineno, colno, error) => alert(error.stack);

            const { createApp } = Vue;
          
            let app = createApp({
                data() {
                    return {
                        token: {
                            meta: {
                                name: "",
                                symbol: ""
                            },
                            redist: {
                                holder: 0,
                                addresses: [],
                                fee: 0,
                                temp: {
                                    amt: 0,
                                    addr: ""
                                }
                            },
                            supply: [],
                            tempSupply: {
                                amt: 0,
                                addr: ""
                            }
                        },
                    }
                }
            });

            app.mount('#app');
        </script>
    </body>
</html>